@model UserProfileDto
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Profil İşlemleri</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Ana Sayfa</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>Profilim</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Profil Güncelleme Formu <small>Tüm bilgileri eksiksiz doldurmanız gerekmektedir.</small></h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#" class="dropdown-item">Config option 1</a>
							</li>
							<li>
								<a href="#" class="dropdown-item">Config option 2</a>
							</li>
						</ul>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form method="post" asp-controller="User" asp-action="Profile" enctype="multipart/form-data">
						<div asp-validation-summary="All" style="color:red"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="FirstName">İsim</label>
							<div class="col-sm-10"><input type="text" class="form-control" asp-for="FirstName"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="LastName">Soyisim</label>
							<div class="col-sm-10"><input type="text" class="form-control" asp-for="LastName"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="Email">Email Adresi</label>
							<div class="col-sm-10"><input type="email" class="form-control" asp-for="Email"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="PhoneNumber">Telefon Numarası</label>
							<div class="col-sm-10"><input type="text" class="form-control" asp-for="PhoneNumber"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="CurrentPassword">Mevcut Şifre</label>
							<div class="col-sm-10"><input type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" class="form-control" asp-for="CurrentPassword" required></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group  row">
							<label class="col-sm-2 col-form-label" asp-for="NewPassword">Yeni Şifre(Opsiyonel)</label>
							<div class="col-sm-10"><input type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" class="form-control" asp-for="NewPassword"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group row">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary btn-sm" type="submit">Profilimi Güncelle</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

