@model int

<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label label-primary float-right">Toplam</span>
            <h5>Ürün Sayısı</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">@Model Adet</h1>
            <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
            <small>Ürün bilgisi</small>
        </div>
    </div>
</div>