@model int
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label label-info float-right">Yıllık</span>
            <h5>Şipariş Adeti</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">@Model Adet</h1>
            <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
            <small>Sipariş bilgisi</small>
        </div>
    </div>
</div>