@model int
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-title">
            <span class="label label-danger float-right">Toplam</span>
            <h5>Beğenilen Ürün Sayısı</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">@Model Adet</h1>
            <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
            <small>Beğeni bilgisi</small>
        </div>
    </div>
</div>